.wrap_choose {
  background: #15162D;
  position: relative;
  top: -2746px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1400px;
  overflow: hidden;
}

.why {
  color: white;
  font-family: 'ManiaExtendedC';
  font-size: 50px;
  line-height: 140%;
}
.the_best {
  color: white;
  font-size: 30px;
  line-height: 170%;
  width: 835px;
  position: relative;
  top: -35px;
}
.each_choose, .each_choose2 {
    font-size: 20px;
    line-height: 140%;
    font-weight: bolder;
    color: white;
}
.each_choose {
  width: 271px;
  position: relative;
  top: -33px;
}
.each_choose2 {
  width: 400px;
  position: relative;
  top: -23px;
}
.second_choose {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
  grid-template-columns: 15% 85%;
  width: 437px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  height: 324px;
  z-index: 10;
  position: relative;
}
.choose {
  position: relative;
  top: 276px;
  width: 1290px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.first_choose {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / 3;
}
.third_choose {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  left: -1327px;
  -ms-grid-columns: 15% 85%;
  grid-template-columns: 15% 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  height: 421px;
  position: relative;
  top: -10px;
  z-index: 10;
}
.third_choose > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.third_choose > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.third_choose > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.third_choose > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.third_choose > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.third_choose > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.third_choose > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.third_choose > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
#plus {
  position: relative;
  left: 7px;
}
#globus {
  position: relative;
  top: -10px;
}
svg path {
stroke:inherit;
stroke-width:inherit;
fill:inherit;
}
#money {
  position: relative;
  left: 11px;
}
.gun_line {
  mix-blend-mode: lighten;
  position: relative;
  top: -1081px;
  left: -417px;
}
.wrap_team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: relative;
  top: -2504px;
}
.team {
  width: 1290px;
  display: -ms-grid;
  display: grid;
  height: 1400px;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 10% 90%;
  grid-template-rows: 10% 90%;
}
.team > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.team > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.team > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.team > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.team > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.team > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.team > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.team > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.team > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.team > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.team1 {
  font-size: 50px;
  line-height: 140%;
  font-family: 'ManiaExtendedC';
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  height: 50px;
}
.weight_name {
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
  font-family: 'Inter-SemiBold';
  margin: 0;
}
.lastname {
  font-size: 20px;
  line-height: 160%;
  margin: 0;
}
.each_participant {
  display: -ms-grid;
  display: grid;
  height: 491px;
  -ms-grid-rows: 70% (1fr)[4];
  grid-template-rows: 70% repeat(4, 1fr);
}
.lnk {
  position: relative;
  top: 10px;
  cursor: pointer;
}
.wrap_partners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -2504px;
  background-image: url('../images/Vector — копия 6.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.partners {
  width: 1290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 710px;
}
.title_partners {
  font-size: 50px;
  position: relative;
  top: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  font-family: 'ManiaExtendedC';
  line-height: 140%;
}
.low_partner {
  width: 213px;
  height: 89px;
  background: #C4C4C4;
}
.inside_partners {
  height: 306px;
  width: 1290px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  left: 11px;
  top: -25px;
}
.each_img_part {
  position: relative;
  top: -12px;
}
.wrap_touch {
  position: relative;
  top: -2095px;
  height: 1398px;
  width: 100%;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}
.touch {
  width: 1290px;
  position: relative;
  top: 500px;
  z-index: 2;
  height: 724px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.form_get {
  position: relative;
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  width: 690px;
  height: 724px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.in_touch_submitted {
  top: -31px !important;
}
.form_get_submitted {
  height: 279px !important;
}
.wrap_inp_submitted, .wrap_down_inp_submitted {
  display: none !important;
}

.in_touch {
  font-size: 50px;
  font-family: 'ManiaExtendedC';
  line-height: 140%;
  color: white;
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  top: 15px;
  left: 68px;
}
.form_inputs {
  width: 252px;
  position: relative;
  height: 64px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 160%;
  color: white;
  cursor: pointer;
  background: transparent;
  padding-left: 21px;
}
.form_inputs::-webkit-input-placeholder, .msg::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 160%;
  color: white;
}
.form_inputs::-moz-placeholder, .msg::-moz-placeholder {
  font-size: 20px;
  line-height: 160%;
  color: white;
}
.form_inputs:-ms-input-placeholder, .msg:-ms-input-placeholder {
  font-size: 20px;
  line-height: 160%;
  color: white;
}
.form_inputs::-ms-input-placeholder, .msg::-ms-input-placeholder {
  font-size: 20px;
  line-height: 160%;
  color: white;
}
.form_inputs::placeholder, .msg::placeholder {
  font-size: 20px;
  line-height: 160%;
  color: white;
}
.check_inp {
  font-size: 20px;
  line-height: 160%;
  color: white;
  position: relative;
  top: -16px;
  left: 10px;
}
.msg {
  font-size: 20px;
  line-height: 160%;
  color: white;
  width: 525px;
  height: 123px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background: transparent;
  padding-left: 21px;
  padding-top: 10px;
  font-family: 'Inter-Regular';
  position: relative;
  top: -11px;
}
.sub_but {
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 111px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 160%;
  font-family: 'Inter-SemiBold';
  cursor: pointer;
  background: transparent;
  color: white;
  position: relative;
  top: 4px;
}
.sub_but:hover {
  background: white;
  color: #4fa0ff;
}
.wrap_inp {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 17px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 17px;
  top: -16px;
  position: relative;
}
.left_inp {
  left: 68px;
}
.right_inp {
  left: -12px;
}
.wrap_down_inp {
  position: relative;
  left: 68px;
  top: -13px;
}
#service {
  position: relative;
  top: -13px;
  left: 0px;
}
.cheks {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.wrap_check {
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: transparent;
  position: relative;
  top: -26px;
  float: left;
}
.fillBack {
  background: #FFFFFF;
}
.best1 {
  left: -10px;
}
#check2 {
  left: 200px;
}
.cust1 {
  left: 67px;
}
#by_click {
  width: 383px;
  left: 131px;
  top: -84px;
}
